body{
    background: #101010;
}

.News{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 250px;
    width: 330px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card h5{
    color: green;
    font-size: 28px;
    margin-bottom: 15px;
}
.text p{
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 25px;
}
.button{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
}
.button:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}


.iran{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.iran img{
    height: auto;
    width: 430px;
}
.iran-text{
    width: 550px;
}
.iran-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iran-text h2{
    color: red;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.iran-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.iran-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.pirooz{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.pirooz img{
    height: auto;
    width: 430px;
}
.pirooz-text{
    width: 550px;
}
.pirooz-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pirooz-text h2{
    color: red;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.pirooz-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.pirooz-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.gas{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.gas img{
    height: auto;
    width: 430px;
}
.gas-text{
    width: 550px;
}
.gas-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gas-text h2{
    color: red;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.gas-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.gas-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

